@page "/"

@* Main layout of the page *@

<section class="intro">
    <div class="text-content">
        <h1>WELCOME TO MAMMALS OF THE UK: A WEBSITE PORTAL</h1>
        <p>Explore the Diversity of UK Mammals with Us</p>
    </div>
    <img src=/Users/edutraveller/Desktop//Source/MammalsOfTheUK/wwwroot/Images/Homepage/1.jpg alt="Animal Image" class="intro-image">
</section>

<section class="description">
    <div class="description-content">
        <h2>Discover UK Mammals</h2>
        <p class="subtext">Understanding, Appreciating, and Conserving Our Wildlife</p>
        <p class="details">Our platform provides comprehensive information about the rich diversity of mammalian species found throughout the United Kingdom. By fostering understanding, appreciation, and conservation of UK mammals, we aim to inspire individuals to become stewards of their local ecosystems and champions for wildlife preservation.</p>
    </div>
</section>

<section class="conservation-tips">
    <h2>Take Action: Conservation Tips for Protecting UK Mammals</h2>
    <p>Join us in making a positive impact on UK mammal conservation. Below are actionable steps you can take to support local wildlife and protect their habitats. Whether it's creating wildlife-friendly gardens, or advocating for wildlife-friendly policies, together, we can make a difference for UK mammals and their ecosystems.</p>
    <ul>
        <li>
            <h3>1 Create Wildlife-Friendly Gardens</h3>
            <p>Transform your garden into a haven for local wildlife. Plant native species to provide food and shelter for mammals. Incorporate features like log piles, hedgehog houses, and ponds to create diverse habitats that support a range of species.</p>
        </li>
        <li>
            <h3>2 Reduce Pesticide and Herbicide Use</h3>
            <p>Minimise the use of chemicals in your garden. Pesticides and herbicides can harm mammals and other wildlife. Opt for natural pest control methods and organic gardening practices to create a safer environment.</p>
        </li>
        <li>
            <h3>3 Support Local Conservation Organisations</h3>
            <p>Donate to or volunteer with organisations dedicated to wildlife conservation, such as the Woodland Trust or World Animal Protection UK. Your support can help fund research, habitat restoration, and educational programs.</p>
        </li>
        <li>
            <h3>4 Create Safe Passages</h3>
            <p>Ensure that your garden or property is accessible to wildlife. Install hedgehog highways by cutting small holes in fences and provide safe crossing points over busy roads to prevent accidents and fatalities.</p>
        </li>
        <li>
            <h3>5 Leave Wild Areas Undisturbed</h3>
            <p>When exploring natural habitats, respect wildlife by staying on designated paths and keeping noise levels low. Avoid disturbing nests, dens, and feeding areas to allow mammals to thrive in their natural environments.</p>
        </li>
        <li>
            <h3>6 Reduce Plastic Use</h3>
            <p>Minimise plastic waste, which can be harmful to wildlife if ingested or entangled. Opt for reusable and biodegradable products and participate in local clean-up efforts to keep habitats free of litter.</p>
        </li>
        <li>
            <h3>7 Provide Supplemental Food and Water</h3>
            <p>During harsh weather conditions, provide food and water sources for mammals. Ensure that squirrel feeders, water dishes, and other provisions are kept clean to prevent the spread of diseases.</p>
        </li>
        <li>
            <h3>8 Educate and Inspire Others</h3>
            <p>Share your knowledge and passion for wildlife conservation with friends, family, and community members. Host workshops, participate in local events, and use social media to raise awareness about the importance of protecting UK mammals.</p>
        </li>
    </ul>
</section>
